html, body {
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
    color : white;
    background: black;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
  }

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
  
      h2{
          font-size: 40px;
          font-weight: normal;
          margin: 0px 0px 5px 0px;
      }
  
      i {
          font-size: 80%;
      }
  
      h5{
          margin:0px
      }

      input {
        padding: 10px 0px; display: flex; align-items: center; justify-content:center; color: white; background:transparent; border: transparent; border-bottom: 1px solid white;
      }
      input:focus{
        outline: none;
    }

      button {
          width: 200px;
          min-height: 50px;
          cursor: pointer;
          color: whitesmoke;
          background: black;
          font-family: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 20px 20px 0px;
          border: 1px solid whitesmoke;
          padding: 10px 20px;
          border-radius: 5px;
          transition: 0.5s;
          z-index: 10;
      }
  
      button:hover{
          color: #FF76E9;
          border-color: #FF76E9;
      }
  
      #ui {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100vw;
          height: 100vh;
      }
  
          #info-card {
              display: block;
              position: fixed;
              top: 0;
              left: 0;
              width: calc(100vw - 150px);
              max-width: 33.3vw;
              padding: 25px;
              background: transparent;
  
              transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
          }
  
          #info-card .small {
              font-size: 10px;
          }
  
          #info-card p {
              font-size: 80%
          }
  
          #info-card ol {
              font-size: 80%
          }
  
          #info-card ol p {
              font-size: 100%
          }
  
          #info-card h4 {
              margin: 0px;
          }
  
          #info-card a {
              color: #6a8eb0;
              text-decoration: none;
          }
  
          #info-card a:visited {
              color: gray;
          }